<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="SHOESHOP_ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SHOESHOP.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
        <!--<add name="LocalDBProviderConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\ASPNETDB.mdf; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5"/>
        <!--<membership defaultProvider="AspNetSqlLocalDbProvider">
            <providers>
                <add name="AspNetSqlLocalDbProvider"
                     connectionStringName="LocalDBProviderConnectionString"
                     
                     minRequiredPasswordLength="6"
                     minRequiredNonalphanumericCharacters="0"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
      </membership>-->
    </system.web>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp from="shoeshopstoreinfo@gmail.com">
                <network host="localhost" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>